<div>
  <strong>Title:</strong>
  <%= question.title %>
  <strong>Description:</strong>
  <%= question.description %>
  <br>
  <%= link_to 'View Question', question %> |
  <%= link_to 'Edit Question', edit_question_path(question) %>
  <br>
  <br>
</div>
