<h1>Questions</h1>

<ul class="unstyled">
  <% @questions_in_reverse_order.each do |question| %>
  <li>
    <%= link_to question.title, question_path(question) %>
  </li>
  <% end %>
</ul>

<div><%= link_to "Ask a question", new_question_path %></div>
