<div class="main-focus">
  <h1>Can I help you?</h1>
  <div class="new-question-link">
    <%= link_to 'New Question', new_question_path %>
  </div>
  <p>
    <%= render partial: "question", collection: @questions %>
  </p>
</div>
